{% extends 'site/base.html' %}

{% load staticfiles %}

{% load humanize %}

{% block title %}Festival de Xadrez da Família - Torneio de Xadrez em Brasília - DF{% endblock %}

{% block content %}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'home' %}">Página Inicial</a></li>
                    <li><a href="{% url 'tournament:chessfestival' %}">Festival de Xadrez da Família</a></li>
                    <li class="active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

<div class="container">
    <div class="row">

        <!-- main start -->
        <!-- ================ -->
        <div class="main col-md-12">

            {% if inscription %}
            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title margin-top-clear">Confirme sua inscrição</h1>
            <!-- page-title end -->
            <div class="space"></div>
            <table class="table cart table-striped">
                <thead>
                    <tr>
                        <th>Item </th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th class="amount">Total </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product">{{ inscription.competition }} <small>{{ inscription.competition.date|date:'d/m/Y' }}</small></td>
                        <td class="price">R$ {{ inscription.competition.price }}</td>
                        <td class="quantity">
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{ inscription.competitors.count }}" disabled>
                            </div>
                        </td>
                        <td class="amount">{{ total }}</td>
                    </tr>
                    <tr>
                        <td class="total-quantity" colspan="3">Total</td>
                        <td class="total-amount">R$ {{ total }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="space-bottom"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4">Informações de inscrição </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Responsável</strong></td>
                        <td class="information">{{ inscription.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td class="information">{{ inscription.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Competição</strong></td>
                        <td class="information">{{ inscription.competition.name }}</td>
                    </tr>
                    {% for competitor in inscription.competitors.all %}
                    <tr>
                        <td><strong>Atleta</strong></td>
                        <td class="information">{{ competitor.name }} - {{ competitor.birth|date:'d/m/Y' }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="space-bottom"></div>

            {% endif %}
        </div>
        <!-- main end -->

        <div class="col-md-4">
            <a href="{% url 'tournament:payment' inscription.pk %}" class="btn btn-default"><i class="fa fa-shopping-cart"> Pagar com PagSeguro</i></a>
            <!-- INICIO CODIGO PAGSEGURO -->
            <a href="{% url 'tournament:payment' inscription.pk %}"><img alt="Logotipos de meios de pagamento do PagSeguro" src="https://p.simg.uol.com.br/out/pagseguro/i/banners/pagamento/avista_estatico_550_70.gif" title="Este site aceita pagamentos com Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC, saldo em conta PagSeguro e boleto." border="0"></a>
            <!-- FINAL CODIGO PAGSEGURO -->
        </div>

        <div class="col-md-4">

            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#p_deposito">
              Pagar via depósito em conta
            </button>

            <div class="modal fade" id="p_deposito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pagamento via depósito bancário</h4>
                  </div>
                  <div class="modal-body">
                    <p>Nesta modalidade de pagamento, o responsável deverá efetuar o depósito na conta
                    indicada abaixo e enviar uma cópia do comprovante de inscrição para torneios@estavos.com</p>
                    <p>
                        <strong>Caixa Econômica Federal</strong><br />
                        <strong>Agência</strong>: 1803 <br />
                        <strong>Operação</strong>: 003 <br />
                        <strong>Conta corrente</strong>: 227-8<br />
                        <strong>Cnpj</strong>: 18.157.637/0001-51
                    </p>
                    <p>ESTAVOS - Organizadora de Eventos Desportivos e Academia
                        de Jogos Mentais e de Entretenimento LTDA. - ME</p>
                    <p>Ao clicar em <strong>Confirmar</strong> no botão abaixo você
                        será redirecionado para uma página de pré-confirmação</p>
                    <p>A inscrição só será confirmada após envio do comprovante de pagamento.</p>
                    <p>Em caso de dúvidas basta entrar em <a href="{% url 'contato' %}">contato</a></p>
                  </div>
                  <div class="modal-footer">
                      <form method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" class="btn btn-primary" value="Confirmar"/>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>
			<!-- main-container end -->

</section>

{% endblock %}
