{% extends 'system/base.html' %}

{% load staticfiles %}
{% load esap_labels %}

{% block stylesheets %}
    <link href="{{ STATIC_URL }}system/css/plugins/chosen/chosen.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>ESAP - ESTAVOS Sistema de Aulas Particulares</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard:home' %}">Início</a>
            </li>
            <li>
                <a href="{% url 'dashboard:modules' %}">ESAP</a>
            </li>
            <li class="active">
                <strong>Módulos</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Módulos cadastrados</h5>
                    <div class="ibox-tools">
                        <a href="{% url 'dashboard:modules_ajax_form' %}" id="add-module"
                           class="btn btn-primary btn-xs"
                           data-target="#myModal"
                           data-toogle="modal">Adicionar módulo</a>
                    </div>
                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <i class="fa fa-shield modal-icon"></i>
                                    <h4 class="modal-title">Módulos</h4>
                                    <small class="font-bold">Use o formulário abaixo para cadastrar novos módulos.</small>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="add-modules">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover" id="modules-list">
                            <tbody>
                            {% for object in object_list %}
                                {% include 'esap/modules_list_row.html' %}
                            {% empty %}
                            <tr><p><strong>Nenhum módulo cadastrado.</strong></p></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include "core/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
    <!-- Chosen -->
    <script src="{{ STATIC_URL }}system/js/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){

        $(".modulos").attr('class', 'active');

        $("#add-module").click(function(event) {
            // obtém o formulário modal
            event.preventDefault();
            modulesModal(this);
        });
        $("#add-modules").click(function(){
            // Salva o formulário modal
            var frm = $("#modules-add-form");
            $.ajax({
                type: "POST",
                url: frm.attr('action'),
                data: frm.serialize(),
                dataType: "json",
                beforeSend: function () {
                    $("#myModal").spin();
                },
                success: function(content) {
                    updateTable(content);
                },
                error: function(errormsg) {
                    alert(errormsg);
                },
                complete: function(data) {
                    $("#myModal").spin(false);
                }
            });
        });
        $(".aulas").attr('class', 'active');
    });
    function updateTable(content) {
        // Insere o novo valor salvo na listagem
        $("#myModal").modal('hide');
        var pk = content.pk;
        $.ajax({
            type: "GET",
            url: "/painel/modulos/ajax/" + pk,
            beforeSend: function () {
                $("#myModal").spin();
            },
            success: function(content) {
                $("#modules-list tbody").prepend(content);
            },
            error: function(errormsg) {
                alert(errormsg);
            },
            complete: function(data) {
                $("#myModal").spin(false);
            }
        });
    }
    function modulesModal(object) {
        // Formulario modal
        var url = $(object).attr('href');
        $.ajax({
            type: "GET",
            url: url,
            beforeSend: function () {
                $("body").spin();
            },
            success: function(content) {
                $(".modal-body").html(content);
                $(".chosen-select").chosen({width:"100%"});
            },
            error: function(errormsg) {
                alert(errormsg);
            },
            complete: function() {
                $("#myModal").modal('show');
                $("body").spin(false);
            }
        });
    }
    </script>
{% endblock js %}
